#contato{
    background-color: black;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

form .caixa-de-entrada{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1em;
}

.caixa-de-entrada span{
    font-size: 1.5em;
}

form input{
    font-size: 1.3em;
    padding: 1em 6em;
    border-radius: 0.5em;
    border: none;
}

form input:focus{
    background-color: white;
}

